<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#BC8887" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Happy Wedding</title>

  <meta property="og:title" content="Xuân Trường & Tuyết Anh, 11 - 12 - 2023">
  <meta property="og:description" content="Xuân Trường & Tuyết Anh, 11 - 12 - 2023, Ea Hleo DakLak">
  <meta property="og:locale" content="id_ID" />
  <!-- <meta property="og:image" content="https://sherly.dae.ng/image/sherly-daeng-wedding-thumbnail.png"> -->
  <meta property="og:url" content="https://weddingtruonganh/helo_word.html">
  <meta name="twitter:card" content="summary_large_image">
  <!-- Bulma Version 0.8.x-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-tooltip@0.1.5/dist/bulma-tooltip.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/admin/css/menikah.css" />
  <link rel="stylesheet" type="text/css" href="/static/admin/css/jquery.countdown.css" />
  <script src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../static/admin/js/jquery.coundown.js"></script>
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}admin/img/favicon.png" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23064379-20"></script>
  <!-- Begin Script for Countdown -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23064379-20');
  </script>
  <!-- Begin Script for Countdown -->

  <!-- Github Button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
  <!-- Begin Preloader -->
  <!-- <div class="preloader-wrapper">
      <div class="preloader">
         <img src="../static_root/admin/img/favicon.png" alt="Flower" /> -->
  <!-- <img src="../static/admin/img/favicon.png" alt="Flower" /> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- End Preloader-->
  <!-- Begin Header -->
  <div class="header-wrapper" id="home">
    <!-- Begin Hero -->
    <section class="hero is-large">
      <!-- Begin Mobile Nav -->
      <nav class="navbar is-transparent is-hidden-desktop">
        <!-- Begin Burger Menu -->
        <div class="navbar-brand is-fixed-top">
          <div class="navbar-burger burger" data-target="mobile-nav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <!-- End Burger Menu -->
        <div id="mobile-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <a class="navbar-item" href="#Waktu">
                Waktu
              </a>
            </div>
            <div class="navbar-item">
              <a class="navbar-item" href="#lokasi">
                Lokasi
              </a>
            </div>

            <div class="navbar-item">
              <a class="navbar-item" href="#tentang-sherly-daeng">
                Tentang Sherly dan Daeng
              </a>
            </div>
            <div class="navbar-item">
              <a class="navbar-item" href="#rsvp">
                RSVP
              </a>
            </div>
          </div>
        </div>
      </nav>
      <!-- End Mobile Nav -->
      <!-- Begin Hero Content-->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="subtitle">Happy Wedding</h1>
          <h2 class="title">Xuân Trường & Tuyết Anh</h2>
          <h4 class="subtitle tempatwaktu">

            November 12, 2023
            </br>
            Eah'leo
            </br>
            Daklak

          </h4>
        </div>
        <!-- Start Countdown -->
        <div>
          <ul id="hitungmundur">
            <li><span class="days">90</span>
              <p class="days_text">Day</p>
            </li>
            <li class="separator">:</li>
            <li><span class="hours">12</span>
              <p class="hours_text">Hours</p>
            </li>
            <li class="separator">:</li>
            <li><span class="minutes">00</span>
              <p class="minutes_text">Minutes</p>
            </li>
            <li class="separator">:</li>
            <li><span class="seconds">00</span>
              <p class="seconds_text">Min</p>
            </li>
          </ul>
          <div class="spasi">
          </div>
          <script type="text/javascript">
            var now = new Date();
            var day = now.getDate();
            var month = now.getMonth() + 1;
            var year = now.getFullYear() + 1;

            // var nextyear = month + '/' + day + '/' + year + ' 07:07:07';
            var harih = '12/11/2023 17:00:00';

            $('#hitungmundur').countdown({
              date: harih, // TODO Date format: 07/27/2017 17:00:00
              offset: +7, // TODO Your Timezone Offset
              day: 'Days',
              days: 'Days',
              hour: 'Hour',
              hours: 'Hour',
              minute: 'Minutes',
              minutes: 'Minutes',
              second: 'Seconds',
              seconds: 'Seconds',
            }, function () {
              alert('Done!');
            });
          </script>
        </div>
        <!-- End Countdown -->
      </div>
      <!-- End Hero Content-->
      <!-- Begin Hero Menu -->
      <div class="hero-foot ">
        <div class="hero-foot--wrapper">
          <div class="columns">
            <div class="column is-12 hero-menu-desktop has-text-centered">
              <ul>
                <li class="is-active">
                  <a href="#home">Home</a>
                </li>
                <li>
                  <a href="#Waktu">Time</a>
                </li>
                <li>
                  <a href="#lokasi">Location</a>
                </li>
                <li>
                  <a href="#tentang-sherly-daeng">About Us</a>
                </li>

                <li>
                  <a href="#rsvp">RSVP</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Hero Menu -->
    </section>
    <!-- End Hero -->
  </div>
  <!-- End Header -->

  <!-- Begin Main Content -->
  <div class="main-content">
    <!-- Begin regular-section-->
    <section class="section-light no-padding-top regular-section has-text-centered has-vertically-aligned-content"
      id="regular-section">

      <div data-aos="fade-up" data-aos-easing="linear">
        <!-- <img src="../static/admin/img/bismillah.png" class="bismillah has-text-centered" alt="Bismillahirrahmaanirrahiim"> -->
      </div>

      <p class="bodytext" data-aos="fade-up" data-aos-easing="linear">
        Trân trọng kính mời
      </p>
      <p class="bodytext1" data-aos="fade-up" data-aos-easing="linear">
        <br />
        Bạn Hiếu
        <br />
      </p>
      <p class="bodytext2" data-aos="fade-up" data-aos-easing="linear">
        <br />
        Đến dự buổi tiệc rượu chung vui cùng gia đình chúng tôi tại
        <br />
        <br />
        Tư gia nhà trai
        <br />
        <br />
        Lúc 9 giờ 30 phút
        <br />
        <br />
        Thôn 5 - Đạ Kho - Đạ Tẻh - Lâm Đồng
        <br />

      </p>
      <span class="space40px"></span>
      <span class="space40px"></span>



  </div>
  <span class="space40px"></span>
  <div class="image-container">
    <img src="../static/admin/img/2.png" alt="abc">
  </div>
  <span class="space40px"></span>
  <span class="space40px"></span>
  </section>
  <!-- <section class="section-dark" id="Waktu">
        <div class="container">

          <div class="column is-12 regular-section" data-aos="fade-up" data-aos-easing="linear">
            <h1 class="title has-text-centered section-title">Time</h1>
          </div>
          <div class="columns is-multiline" data-aos="fade-up" data-aos-easing="linear">
            <div
              class="column is-4 has-vertically-aligned-content">

              <p class="is-larger has-text-centered">
                  <div class="waktu tanggal-hari has-text-centered">November</div>
                  <div class="waktu tanggal-angka has-text-centered">12</div>
                  <div class="waktu tanggal-bulan has-text-centered">2023</div>
              </p>

            </div>
            <div class="column is-4 has-vertically-aligned-content">

              <p class="waktu is-larger has-text-centered">
                Akad Nikah:
                <br>
                <strong>17.00 WIB</strong>
              </p>

            </div>

            <div class="column is-4 has-vertically-aligned-content">

              <h1 class="waktu is-larger has-text-centered">
                Resepsi:
                <br>
                <strong>19.00  - 21.00 WIB</strong>
              </h1>


            </div>

          </div>
        </div>
        <div class="space40px"></div>
        <div class="main-content has-text-centered" data-aos="fade-up" data-aos-easing="linear">
          <a href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NGgzdW00NG84dXFwMzcwNXYxbGliNGxzaWggZGFlbmdkb2FuZ0Bt&amp;tmsrc=daengdoang%40gmail.com" target="_blank" class="button has-tooltip btn-cta" data-tooltip="Add to Calendar" target="_blank" data-aos="zoom-in">
            <i class="far fa-calendar-plus"></i>
            &nbsp;&nbsp;Google Calendar
          </a>
        </div>
      </section> -->
  <!-- End Waktu Content -->

  <!-- Begin Lokasi Section -->
  <section class="section-darker" id="lokasi">
    <div class="container">
      <div class="column is-12 regular-section" data-aos="fade-up" data-aos-easing="linear">
        <!-- <h1 class="title has-text-centered section-title">Location</h1> -->
        <p class="tempat is-larger has-text-centered">
          <strong>Địa điểm tổ chức</strong>
          <br>
          Quốc lộ 20, Xã Ea Ral , huyện Ea H'Leo
          <br>
          Tỉnh Daklak , Việt Nam
          <br>
        </p>
      </div>
      <div class="section-map" data-aos="fade-up" data-aos-easing="linear">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3883.6087744102015!2d108.15201047582936!3d13.249851108715347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316e73527f2e1951%3A0x57d0bf54cd4d113c!2zQ2jhu6MgOTI!5e0!3m2!1svi!2s!4v1690092226764!5m2!1svi!2s"
          width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="space40px"></div>
      <div class="has-text-centered" data-aos="fade-up" data-aos-easing="linear">
        <a href="https://www.google.com/maps/place/Ch%E1%BB%A3+92/@13.2498511,108.1520105,17z/data=!3m1!4b1!4m11!1m3!11m2!2s307DGPVjS4GdmRXaVcA0lQ!3e3!3m6!1s0x316e73527f2e1951:0x57d0bf54cd4d113c!8m2!3d13.2498459!4d108.1545854!15sCgEqWgMiASqSAQZtYXJrZXTgAQA!16s%2Fg%2F12cpk3b3s?hl=vi-VN&entry=ttu"
          class="button btn-cta" target="_blank" data-aos="zoom-in">
          <i class="far fa-directions"></i>
          &nbsp;&nbsp;Google Maps
        </a>
      </div>
    </div>
  </section>
  <!-- End Lokasi Content -->
  <!-- <div id="slideshow-container">
      
    <div class="mySlides">
      <img src="../static/admin/img/48c6e5ce38b3ebedb2a2.jpg" alt="Image 1">
    </div>

    <div class="mySlides">
      <img src="../static/admin/img/51a37f5ba62675782c37.jpg" alt="Image 2">
    </div>



  </div> -->
  <!-- Begin Tentang Sherly and Daeng -->
  <section class="section-light regular-section is-fullheight" id="tentang-sherly-daeng">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column has-text-centered is-12 prolog">
          <h1 class="title has-text-centered section-title" data-aos="fade-up" data-aos-easing="linear">Về chúng tôi
          </h1>
          <div class="tile">
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child foto1 notification foto1" data-aos="fade-up" data-aos-easing="linear">
                  <!-- <div class="content">
                    <p class="title-foto">November 2018</p>
                    <p class="subtitle-foto">
                      Lần đầu gặp mặt <a href="https://www.circlek.com.vn/vi/" target="_blank">Circle</a>
                    </p>
                  </div> -->
                </article>
              </div>
              <!-- <div class="tile is-parent">
                <article class="tile is-child notification foto2" data-aos="fade-up" data-aos-easing="linear">
                  <div class="content">
                    <p class="title-foto">
                      Desember 2018 - Februari 2019
                    </p>
                    <p class="subtitle-foto">
                      Đi học, đi làm chung với nhau
                    </p>
                  </div>
                </article>
              </div> -->
              <!-- <div class="tile is-parent">
                <article class="tile is-child notification foto3" data-aos="fade-up" data-aos-easing="linear">
                  <div class="content">
                    <p class="title-foto">
                      Maret 2020
                    </p>
                    <p class="subtitle-foto">
                      Đi chơi với nhau
                    </p>
                  </div>
                </article>
              </div> -->
            </div>
          </div>
          <!-- <div class="space24px"></div>
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child notification foto6" data-aos="fade-up" data-aos-easing="linear">
                <div class="content">
                  <p class="title-foto">Juni 2021</p>
                  <p class="subtitle-foto">Bắt đầu đi làm</p>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification foto4" data-aos="fade-up" data-aos-easing="linear">
                <div class="content">
                  <p class="title-foto">Desember 2022</p>
                  <p class="subtitle-foto">Đi du lịch chung với nhau</p>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification foto5" data-aos="fade-up" data-aos-easing="linear">
                <div class="content">
                  <p class="title-foto">Maret 2023</p>
                  <p class="subtitle-foto">Kết hôn</p>
                </div>
              </article>
            </div>
          </div>
         
          
          <div class="space40px"></div>
          <div data-aos="fade-up" data-aos-easing="linear">
            <img src="../static/admin/img/divider-leaves.png" class="divider has-vertically-align" alt="~~~">
          </div>
          <div class="space40px"></div>
          <div class="space40px"></div>

        </div> -->
      </div>
  </section>
  <!-- End Tentang Sherly dan Daeng -->
  <!-- <div id="slideshow-container">
      
      <div class="mySlides">
        <img src="../static/admin/img/48c6e5ce38b3ebedb2a2.jpg" alt="Image 1">
      </div>
  
      <div class="mySlides">
        <img src="../static/admin/img/51a37f5ba62675782c37.jpg" alt="Image 2">
      </div>
  

  
    </div> -->
  
  <!-- Begin RSVP Content -->
  <section class="section-dark contact" id="rsvp">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12 prolog">
          <h1 class="title has-text-centered section-title" data-aos="fade-up" data-aos-easing="linear">Sự có mặt của
            bạn</h1>
        </div>
        <div class="column is-12 prolog has-text-centered" data-aos="fade-up" data-aos-easing="linear">
          <p class="h2 subtitle">
            Đó là niềm vinh dự và hạnh phúc cho chúng tôi
            <br>
            nếu Ông/Bà/Anh/Chị có nhã ý tham dự để chúc phúc.
            <br>
            <br>
            Nếu không thể tham dự đám cưới của chúng tôi, không sao cả,
            hẹn gặp lại bạn vào một dịp khác
            <br>
            Giữ an toàn và chăm sóc sức khỏe của bạn :)
            <br>

            <a href="https://www.facebook.com/profile.php?id=100010321894905" class="button btn-whatsapp"
              target="_blank" data-aos="zoom-in">
              <i class="fab fa-whatsapp"></i>
              &nbsp;&nbsp;Xuân Trường
            </a>



            <a href="https://www.facebook.com/profile.php?id=100010321894905" class="button btn-whatsapp"
              target="_blank" data-aos="zoom-in">
              <i class="fab fa-whatsapp"></i>
              &nbsp;&nbsp; Tuyết Anh
            </a>
          <div class="space40px"></div>

          <div class="space40px"></div>
          <div data-aos="fade-up" data-aos-easing="linear">
            <img src="../static/admin/img/divider-leaves.png" class="divider has-text-centered" alt="~~~">
          </div>
          <div class="space40px"></div>
          <p class="h2 subtitle" data-aos="fade-up" data-aos-easing="linear">

            <br>
            <a class="instagram" :" href="https://instagram.com/nengchely" target="_blank" alt="Instagram Sherly">
              <i class="fab fa-instagram"></i> @truongee
            </a>
            &nbsp
            <a class="instagram" href="https://instagram.com/daengdoang" target="_blank" alt="Instagram Daeng">
              <i class="fab fa-instagram"></i> @tuyetanh
            </a>
          </p>

        </div>

      </div>
    </div>
  </section>
  <!-- End RSVP Content -->
  </div>
  <!-- End Main Content -->

  <!-- Begin Footer -->
  <div class="footer">
    <div class="container">
      <a href="https://github.com/daengdoang/daeng-sherly-menikah" class="has-vertically-align">
        <p class="has-vertically-align">2023 &copy Nguyễn Xuân Trường</p>
      </a>
      <!-- <a href="https://bulma.io" class="has-vertically-align">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma">
        </a>
        <a href="https://www.netlify.com">
          <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" alt="Deploy with Netlify"/>
        </a> -->
    </div>
  </div>
  <!-- End Footer -->

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/admin/js/menikah.js"></script>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
    // JavaScript để xử lý chuyển đổi giữa các hình ảnh
    var slideIndex = 0;

    showSlides(); // Khởi chạy hàm showSlides ngay từ đầu

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");

      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }

      slideIndex++;

      if (slideIndex > slides.length) {
        slideIndex = 1;
      }

      slides[slideIndex - 1].style.display = "block";
    }

    // Sử dụng setInterval để tự động gọi hàm showSlides mỗi giây
    setInterval(showSlides, 1000); // Chuyển đổi sau mỗi giây
  </script>
  <script>
    AOS.init({
      easing: "ease-out",
      duration: 800,
    });
  </script>
  <script>
    // Danh sách các đường dẫn hình ảnh
    const imagePaths = [
      '../static/admin/img/TRUONG ANH_04.jpg',
      '../static/admin/img/TRUONG ANH_05.jpg',
      '../static/admin/img/TRUONG ANH_077.jpg',
      '../static/admin/img/TRUONG ANH_088.jpg',
    ];
  
    const foto1Element = document.querySelector('.foto1');
    let currentImageIndex = 0;
  
    function changeBackgroundImage() {
      // Thay đổi đường dẫn hình ảnh cho phần tử .foto1
      foto1Element.style.backgroundImage = `url("${imagePaths[currentImageIndex]}")`;
  
      // Tăng chỉ số hình ảnh hoặc quay lại hình ảnh đầu tiên nếu đã đến hình cuối cùng
      currentImageIndex = (currentImageIndex + 1) % imagePaths.length;
    }
  
    // Gọi hàm thay đổi hình ảnh mỗi 5 giây (có thể điều chỉnh thời gian theo nhu cầu)
    setInterval(changeBackgroundImage, 3000);
  </script>
</body>

</html>