{% load static %}
<!DOCTYPE html>
<html class="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Xuân Trường &amp; Tuyết Anh Wedding site!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Xuân Trường  &amp; Xuân Trường - Our wedding date: 2023-12-24 | Tôi có thể chinh phục thế giới bằng một tay miễn là bạn đang nắm tay kia">
    <meta property="og:title" content="Xuân Trường  &amp; Tuyết Anh Wedding site!">
    <meta property="og:site_name" content="Xuân Trường  &amp; Tuyết Anh ">

    <!-- <meta property="og:title" content="Xuân Trường & Tuyết Anh, 11 - 12 - 2023">
    <meta property="og:description" content="Xuân Trường & Tuyết Anh, 11 - 12 - 2023, Ea Hleo DakLak">
    <meta property="og:locale" content="id_ID" /> -->
    <!-- <meta name="keywords" content="Wedding, Wedding website, Website đám cưới, Tạo website đám cưới miễn phí">
    <meta property="og:site_name" content="Xuân Trường  &amp; Tuyết Anh ">
    <meta property="og:type" content="website">
    
    <meta property="og:url" content="https://nancytong.iwedding.info"> -->
    <!-- <meta property="og:description"
        content="Xuân Trường  &amp; Tuyết Anh - Our wedding date: 2023-12-11 | Tôi có thể chinh phục thế giới bằng một tay miễn là bạn đang nắm tay kia">
    <meta property="og:image" content="">
    <meta property="og:image:url" content="">
    <meta property="og:image:secure_url" content=""> -->
    <meta name="format-detection" content="telephone=no">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="https://iwedding.info/favicon.ico"> -->
    <link href="https://nancytong.iwedding.info/templates/template6/css/libs.css?v=202311195" rel="stylesheet">
    <!-- <link href="../static/admin/css/libs.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
    <link
        href='https://fonts.googleapis.com/css?family=Pacifico%7CWork+Sans:400,300,600,400italic,700%7CAmatic+SC:400,700&amp;subset=latin-ext'
        rel='stylesheet' type='text/css'>
    <link href="https://nancytong.iwedding.info/common/calendar.css?v=202311195" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/admin/css/truong.css"> -->
    <link rel="stylesheet" href="{% static 'admin/css/truong.css' %}">
    <!-- <link rel="stylesheet" href="../static/admin/css/truong1.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link rel="stylesheet" href="../static/admin/css/truongroot.css"> -->
    <!-- <link rel="stylesheet" href="https://nancytong.iwedding.info/templates/template6/css/style.css?v=202311195"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K9L0ZFE1PJ"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-K9L0ZFE1PJ');</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="loader"></div>
    <div class="main">
        <nav class="navbar" data-spy="affix" data-options="scrolltop:false">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="logo"><a href="#header">XT<i class="fa fa-heart"></i>TA</a></div>
                    </div>
                    <div class="col-xs-10 menu-2">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="page-scroll" href="#couple">Cặp đôi</a>
                            </li>

                            <li>
                                <a class="page-scroll" href="#events">Sự kiện</a>
                            </li>

                            <!-- <li>
                                <a class="page-scroll" href="#story">Chuyện tình yêu</a>
                            </li> -->

                            <li>
                                <a class="page-scroll" href="#gallery">Album cưới</a>
                            </li>


                            <!-- <li>
                                <a class="page-scroll" href="#wishes">Lời chúc</a>
                            </li>

                            <li>
                                <a class="page-scroll buttonDonate" href="javascript:void(0)">Mừng cưới</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section id="header" class="cover" data-parallax="scroll"
            data-image-src="{% static 'admin/img/truongnen1.png' %}">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="display-t">
                            <div class="display-tc animated">
                                <h1></h1>
                                <div class="banner-text">
                                    <!-- <span class="banner-text_names">Xuân Trường <i class="fa fa-heart"
                                            style="color: #f23b43;font-size: 60%;"></i> Tuyết Anh </span> -->
                                    <span class="banner-text_names">Xuân Trường <img src="{% static 'admin/img/handshake_1f91d.png' %}" alt="Share Icon" style="width: 40px; height: 40px;"> Tuyết Anh </span>
                                    
                                </div>
                                
                                <span class="banner-text_date">24 December 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="couple" class="section couple">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading">
                        <h2>Chú rể & Cô dâu</h2>
                        <p>Kết hôn không phải chỉ cưới người mình yêu, kết hôn là quyết định ở lại trong cuộc đời của người mình yêu.</p>
                    </div>
                </div>
                <div class="row couple-wrap">
                    <div class="groom-wrap col-md-6 clearfix">
                        <div class="groom">
                            <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/656764ab517a5d6d72079c52/large.jpg"
                                alt="groom" class="img-responsive">
                        </div>
                        <div class="desc-groom">
                            <h3>Xuân Trường </h3>
                            <!--<h4>11/01/19995</h4>-->
                            <div class="parent-infos">
                                <div class="parent-info"><span class="parent-title">Con Ông:</span> <span
                                        class="parent-name">Nguyễn Xuân Tiến </span></div>

                                <div class="parent-info"><span class="parent-title">Con Bà:</span> <span
                                        class="parent-name">Nguyễn Thị Hạnh</span></div>
                            </div>

                            <p>Chào, tôi là nam chính trong chiếc thiệp này. Sơ lược về bản thân thì tôi là một lập trình viên hiện đang công tác và làm việc tại TP.HCM. Sâu hơn về bản thân tôi thì để cô dâu biết thôi nhỉ.</p>
                            <div class="social">
                                <ul>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <p class="heart text-center"><i class="fa fa-heart"></i></p>
                    <div class="bride-wrap col-md-6">
                        <div class="bride">
                            <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/656764fd86bb3492bd079106/large.jpg"
                                alt="groom" class="img-responsive">
                        </div>
                        <div class="desc-bride">
                            <h3>Tuyết Anh </h3>
                            <!--<h4>06/11/1999</h4>-->
                            <div class="parent-infos">
                                <div class="parent-info"><span class="parent-title">Con Ông:</span> <span
                                        class="parent-name">Nguyễn Tấn Lực</span></div>

                                <div class="parent-info"><span class="parent-title">Con Bà:</span> <span
                                        class="parent-name">Võ Thị Tuyết Mai</span></div>
                            </div>

                            <p>Hi, tôi là nữ chính trong chiếc thiệp này nè. Tôi là cô kế toán đi làm ở môi trường đầy biến động tại TP.HCM. Tôi hướng nội khi vừa mới gặp và hướng lung tung khi đã tiếp xúc nhiều.</p>
                            <!-- <div class="social">
                                <ul>
                                    <li><a href="https://www.facebook.com/tongcattuong99" target="_blank"><i
                                                class="ti-facebook"></i></a>
                                    </li>


                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="countdown bg section text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="heading col-sm-12">
                        <h2>MY WEDDING<br>
                            24 December 2023
                        </h2>
                        <p>We are so excited to celebrate our special day with our family and friends. Thank you so much
                            for
                            visiting our wedding website!</p>
                    </div>
                    <div class="col-sm-12">
                        <div id="timer" class="timer text-center">
                            <div class="timer-item_digits" id="clock" data-date="2023-12-24" data-text-day="Ngày"
                                data-text-hour="Giờ" data-text-minute="Phút" data-text-second="Giây"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="events" class="events-accordion section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading">
                        <h2>Lịch Trình Cưới</h2>
                        <p>Tình yêu là thử thách của thời gian, không phải kết hôn mới là đích đến, mà là sự trọn vẹn sau hai chữ “hôn nhân”.
                        </p>
                    </div>
                </div>
                <div class="row event-list">
                    <div class="event-item col-lg-3 col-md-6 col-xs-12">
                        <div class="event-item-box">
                            <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568bf6e277cd2b18c0e2008/large.jpg"
                                alt="LỄ CƯỚI NHÀ NỮ"
                                style="width:190px; height: auto;"
                                >
                                
                            <div class="event-item_details">
                                <h3 style="margin-top: 10px;">LỄ CƯỚI NHÀ GÁI</h3>
                                <h4><strong>09:00 11/12/2023</strong></h4>
                                <h4>Thôn 2 - Xã Ea Ral - Huyện Ea H'leo - Tỉnh Dak Lak</h4>
                                <div class="calendar-button">
                                    <div class="atcb" style="display:none;">
                                        {
                                        "name":"LỄ CƯỚI NHÀ GÁI (Đám cưới Xuân Trường và Tuyết Anh )",
                                        "description":"Cảm ơn bạn đã dành thời gian tham dự đám cưới của chúng tôi!.
                                        Thông tin chi tiết xem
                                        tại website:<br>[url]https://nancytong.iwedding.info[/url]",
                                        "startDate":"2023-12-24",
                                        "endDate":"2023-12-24",
                                        "startTime":"09:00",
                                        "endTime":"09:00",
                                        "location":"Dateh",
                                        "options":["Apple","Google","iCal","Microsoft365","MicrosoftTeams","Outlook.com","Yahoo"],
                                        "timeZone":"Asia/Ho_Chi_Minh",
                                        "iCalFileName":"Reminder-Event",
                                        "listStyle":"modal",
                                        "label":"Thêm vào lịch",
                                        "trigger":"click"
                                        }
                                    </div>
                                </div>
                                <a style="width:80%;"
                                    href="https://maps.app.goo.gl/2bM2aHLFgyBudhvr7"
                                    target="_blank" class="btn btn-danger btn-sm">Xem bản đồ</a>
                            </div>
                        </div>
                    </div>
                    <div class="event-item col-lg-3 col-md-6 col-xs-12">
                        <div class="event-item-box">
                            <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568bf6e277cd2b18c0e2008/large.jpg"
                                alt="TIỆC CƯỚI NHÀ NỮ"
                                style="width:190px; height: auto;">
                            <div class="event-item_details">
                                <h3 style="margin-top: 10px;">TIỆC CƯỚI NHÀ GÁI</h3>
                                <h4><strong>11:00 11/12/2023</strong></h4>
                                <h4>Thôn 2 - Xã Ea Ral - Huyện Ea H'leo - Tỉnh Dak Lak</h4>
                                <div class="calendar-button">
                                    <div class="atcb" style="display:none;">
                                        {
                                        "name":"LỄ CƯỚI NHÀ GÁI (Đám cưới Xuân Trường và Tuyết Anh )",
                                        "description":"Cảm ơn bạn đã dành thời gian tham dự đám cưới của chúng tôi!.
                                        Thông tin chi tiết xem
                                        tại website:<br>[url]https://nancytong.iwedding.info[/url]",
                                        "startDate":"2023-12-24",
                                        "endDate":"2023-12-24",
                                        "startTime":"09:00",
                                        "endTime":"09:00",
                                        "location":"Dateh",
                                        "options":["Apple","Google","iCal","Microsoft365","MicrosoftTeams","Outlook.com","Yahoo"],
                                        "timeZone":"Asia/Ho_Chi_Minh",
                                        "iCalFileName":"Reminder-Event",
                                        "listStyle":"modal",
                                        "label":"Thêm vào lịch",
                                        "trigger":"click"
                                        }
                                    </div>
                                </div>
                                <a style="width:80%;"
                                    href="https://maps.app.goo.gl/2bM2aHLFgyBudhvr7"
                                    target="_blank" class="btn btn-danger btn-sm">Xem bản đồ</a>
                            </div>
                        </div>
                    </div>
                    <div class="event-item col-lg-3 col-md-6 col-xs-12">
                        <div class="event-item-box">
                            <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568bf6e277cd2b18c0e2008/large.jpg"
                                alt="LỄ CƯỚI NHÀ NAM"
                                style="width: 190px; height: auto;">
                            <div class="event-item_details">
                                <h3 style="margin-top: 10px;">LỄ CƯỚI NHÀ TRAI</h3>
                                <h4><strong>09:00 24/12/2023</strong></h4>
                                <h4>Thôn 5 - Xã Đạ Kho - Huyện Đạ Tẻh - Tỉnh Lâm Đồng</h4>
                                <div class="calendar-button">
                                    <div class="atcb" style="display:none;">
                                        {
                                        "name":"LỄ CƯỚI NHÀ TRAI (Đám cưới Xuân Trường và Tuyết Anh )",
                                        "description":"Cảm ơn bạn đã dành thời gian tham dự đám cưới của chúng tôi!.
                                        Thông tin chi tiết xem
                                        tại website:<br>[url]https://nancytong.iwedding.info[/url]",
                                        "startDate":"2023-12-24",
                                        "endDate":"2023-12-24",
                                        "startTime":"09:30",
                                        "endTime":"09:30",
                                        "location":"Dateh",
                                        "options":["Apple","Google","iCal","Microsoft365","MicrosoftTeams","Outlook.com","Yahoo"],
                                        "timeZone":"Asia/Ho_Chi_Minh",
                                        "iCalFileName":"Reminder-Event",
                                        "listStyle":"modal",
                                        "label":"Thêm vào lịch",
                                        "trigger":"click"
                                        }
                                    </div>
                                </div>
                                <a style="width:80%;"
                                    href="https://maps.app.goo.gl/UdCRDasU1npmxGaD6"
                                    target="_blank" class="btn btn-danger btn-sm">Xem bản đồ</a>
                            </div>
                        </div>
                    </div>
                    <div class="event-item col-lg-3 col-md-6 col-xs-12">
                        <div class="event-item-box">
                            <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568bf6e277cd2b18c0e2008/large.jpg"
                                alt="TIỆC CƯỚI NHÀ NAM"
                                style="width: 190px; height: auto;">
                            <div class="event-item_details">
                                <h3 style="margin-top: 10px;">TIỆC CƯỚI NHÀ TRAI</h3>
                                <h4><strong>10:30 24/12/2023</strong></h4>
                                <h4>Thôn 5 - Xã Đạ Kho - Huyện Đạ Tẻh - Tỉnh Lâm Đồng</h4>
                                <div class="calendar-button">
                                    <div class="atcb" style="display:none;">
                                        {
                                        "name":"TIỆC CƯỚI NHÀ TRAI (Đám cưới Xuân Trường và Tuyết Anh )",
                                        "description":"Cảm ơn bạn đã dành thời gian tham dự đám cưới của chúng tôi!.
                                        Thông tin chi tiết xem
                                        tại website:<br>[url]https://nancytong.iwedding.info[/url]",
                                        "startDate":"2023-12-24",
                                        "endDate":"2023-12-24",
                                        "startTime":"11:00",
                                        "endTime":"11:00",
                                        "location":"Dateh",
                                        "options":["Apple","Google","iCal","Microsoft365","MicrosoftTeams","Outlook.com","Yahoo"],
                                        "timeZone":"Asia/Ho_Chi_Minh",
                                        "iCalFileName":"Reminder-Event",
                                        "listStyle":"modal",
                                        "label":"Thêm vào lịch",
                                        "trigger":"click"
                                        }
                                    </div>
                                </div>
                                <a style="width:80%;"
                                    href="https://maps.app.goo.gl/UdCRDasU1npmxGaD6"
                                    target="_blank" class="btn btn-danger btn-sm">Xem bản đồ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="send">
                <h3 class="uppercase-text">Trân trọng kính mời</h3>
                <h3 class="alone"> {{item}}</h3>
                <h3 class="uppercase-text">Đến dự buổi tiệc chung vui cùng gia đình chúng tôi tại</h3>
                <h3 class="uppercase-text">Tư gia nhà trai</h3>
            </div>
        </section>
        <section class="countdown bg section text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="heading col-sm-12">
                        <h2>Xem video cưới của chúng mình nhé</h2>
                        <div class="video-btn">
                            <a href="https://www.youtube.com/embed/UtkXSqdvhn0?si=hRkOu9xJewvgahdf" class="video-play-btn"
                                data-type="iframe"><i class="ti-control-play"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section id="gallery" class="section gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading">
                        <h2>Album Hình Cưới</h2>
                        <p>Mời mọi người chiêm ngưỡng những tấm hình được chú rể và cô dâu đặt tâm huyết vào nhé</p>
                        <!-- <div class="text-center">
                            <a href="https://nancytong.iwedding.info/photo-album" target="_blank"
                                class="btn btn-danger btn-sm">Xem
                                Album</a>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <div class="button-group filters-button-group">
							<button class="button is-checked" data-filter="*">All</button>
							<button class="button" data-filter=".moments">moments</button>
							<button class="button" data-filter=".friends">friends</button>
							<button class="button" data-filter=".banguet">banguet</button>
							<button class="button" data-filter=".family">family</button>
							<button class="button" data-filter=".party">party</button>
						</div> -->
                        <div class="grid grid--margin">
                            <div class="grid-sizer"></div>
                            <div class="grid-item grid-item--width moments friends">
                                <a href="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6566f140fc8ed212c20e4874/large.jpg"
                                    data-lightbox="roadtrip">
                                    <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6566f140fc8ed212c20e4874/large.jpg"
                                        alt="gallery">
                                </a>
                            </div>
                            <div class="grid-item grid-item--width moments friends">
                                <a href="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6566f125bd7e8528f90b5732/large.jpg"
                                    data-lightbox="roadtrip">
                                    <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6566f125bd7e8528f90b5732/large.jpg"
                                        alt="gallery">
                                </a>
                            </div>
                            <div class="grid-item grid-item--width moments friends">
                                <a href="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6566f172ca50c165560a0efb/large.jpg"
                                    data-lightbox="roadtrip">
                                    <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6566f172ca50c165560a0efb/large.jpg"
                                        alt="gallery">
                                </a>
                            </div>
                            <div class="grid-item grid-item--width moments friends">
                                <a href="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/65694bff083bd56c6006eb8c/large.jpg"
                                    data-lightbox="roadtrip">
                                    <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/65694bff083bd56c6006eb8c/large.jpg"
                                        alt="gallery">
                                </a>
                            </div>
                            <div class="grid-item grid-item--width moments friends">
                                <a href="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568c3f24d748418320d8d29/large.jpg"
                                    data-lightbox="roadtrip">
                                    <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568c3f24d748418320d8d29/large.jpg"
                                        alt="gallery">
                                </a>
                            </div>
                            <div class="grid-item grid-item--width moments friends">
                                <a href="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568c3e682230246fe06e545/large.jpg"
                                    data-lightbox="roadtrip">
                                    <img src="https://cdn.biihappy.com/ziiweb/website/656441beaf893e421d0b5aa0/galleries/6568c3e682230246fe06e545/large.jpg"
                                        alt="gallery">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="end">
        Mong là sẽ được gặp mọi người vào ngày chung đôi của chúng mình để chú rể uống tới bến, cô dâu cháy hết mình cùng mọi người nhé.
    </div>
    <script type="text/javascript">
        
        const biicore = { template_id: '6174ee7a7a1c7661fb0a671c', templatePremium: ('0' === '1'), themeRoot: 'https://nancytong.iwedding.info/templates/template6', webroot: 'https://nancytong.iwedding.info', coreSite: 'https://biihappy.com', webToken: '654060639d153241bc00152c', isPremium: ('' === '1'), bgMusic: "{% static 'admin/img/truongnhac.mp3' %}", alert: JSON.parse('[]'), effect: JSON.parse('{\"type\":\"heart\"}') };
    </script>
    <script
        src="https://nancytong.iwedding.info/templates/template6/js/jquery-plugin-collection.js?v=202311195"></script>
    <script src="https://nancytong.iwedding.info/templates/template6/js/script.js?v=202311195"></script>
    <script src="https://nancytong.iwedding.info/common/calendar.js?v=202311195"></script>
    <!-- <script src="../static/admin/js/truong.js"></script> -->
    <script src="{% static 'admin/js/truong.js' %}"></script>
    <!-- <script src="https://nancytong.iwedding.info/common/bii.js?v=202311195"></script> -->
</body>

</html>